<!DOCTYPE html>
<html lang=en-us>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Polls</title>
</head>
<body>

    <div class="container pt-5">
        {% if error_message %}<div class="alert alert-danger"><strong>{{ error_message }}</strong></div>{% endif %}
        
        <h1>{{ question.question_text }}</h1>        

        <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {% for choice in question.choice_set.all %}
                    <div class="custom-control custom-radio">
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" class="custom-control-input">
                        <label for="choice{{ forloop.counter }}" class="custom-control-label">{{ choice.choice_text }}</label><br>
                    </div>
                {% endfor %}
            </div>
            <input type="submit" value="Vote" class="btn btn-primary">
        </form>

    </div>
</body>
</html>